/*  */
@font-face {
  font-family: "poppins"; /*Can be any text*/
  src: local("poppins"),
    url("./assets/fonts/Poppins/PoppinsLatin-Regular.ttf") format("truetype");
  font-display: block;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0;
  background: #333 !important;
}
.slider{
  margin: 10px;
}

.slider img{
  width: 100%;
  border-radius: 10px;
  display: block;
}